# <p style="text-align: center;">Assignment 1</p>
## <p style="text-align: center;">Total points: 100</p>

In [ ]:
#Anusha Mittal

**Question 1a**    2pts  

**Print** the name of your favorite song.

In [ ]:
print ("thinking 2 much")

thinking 2 much

**Question 1b**    2pts  

Check the type of the following variables by using type() :

1) name = 'Tamira'    
2) age = 26  
3) change = 25.5  
4) price = 'The price is $25.5'

In [ ]:
name = 'Tamira'
age = 26
change = 25.5
price = 'The price is $25.5'
type(name)
type(age)
type(change)
type(price)

str

**Question 1c**    2pts  

Check using == if 123 is the same as '123'

In [ ]:
123 == '123'

False

**Question 1d**    4pts

1) Create three variables and assign them the strings 'lady','bird' and 'lake' respectively.    
2) Concatenate the first two to create the string 'ladybird'.  
3) Use the strings above to print the phrase "I like to take walks around ladybird lake".

In [ ]:
var1 = 'lady'
var2 = 'bird'
var3 = 'lake'

var1 + var2
print ("I like to take walks around " + var1 + var2 + " " + var3)

i like to take walks around ladybird lake

**Question 2**    10pts

To convert temperatures in degrees Celsius to Fahrenheit, multiply by 1.8 (or 9/5) and add 32. Create a program that asks the user to enter a temperature in Celcius and print " (user's input) degrees in Celcius is equivalent to (insert calculation result in Farenheit) degrees Farenheit".

In [ ]:
user_input = float(input("Enter temperature in Celcius:"))
result = str(user_input*1.8)
print (str(user_input) + " degrees in Celcius is equivalent to " + result + " degrees Farenheit")

Enter temperature in Celcius:32
32.0 degrees in Celcius is equivalent to 57.6 degrees Farenheit

**Question 3a**    5pts

Create the following program:

1) Ask the user to enter their age   
2) Next, print " Your age is (insert user's age here) and in 5 years from now you will be (insert user's age + 5) years !"

For example: User input = 30 will print  'Your age is 30 and in 5 years from now you will be 35 years !'

In [ ]:
age = input("what is your age?")
age_plus_five = str(int(age) + 5)
print("your age is", age , "and in 5 years from now you will be", age_plus_five, "years !")

what is your age?5
your age is 5 and in 5 years from now you will be 10 years !

**Question 3b**    5pts    

Now create a similar program:

1) Ask the user to enter their age   
2) Next, print "(insert user's age here) is a great age! I only wish I was your age."

In [ ]:
age = input("what is your age?")
print("" + age +  " is a great age! I only wish I was your age.")

what is your age?3
3 is a great age! I only wish I was your age.

**Question 4a** 4pts

Check if the word "password" contains the word "word" by using **in**.  
The result is a boolean variable.

In [ ]:
"word" in "password"

True

**Question 4b** 2pts

Create a string named x = "swordsmanship".  
Next by slicing it get the words 'sword' and 'man' and assign them to variables a and b respectively.

In [11]:
x = "swordsmanship"
a = x[0:5]
b = x[6:9]
print (a,b)

sword man

**Question 4c** 2pts

Combine the words "man" and "kind" to create the word "mankind".

In [12]:
"man"+"kind"

'mankind'

**Question 4d** 2pts

What's the length of the string 'Pneumonoultramicroscopicsilicovolcanoconiosis' ?

In [13]:
len("Pneumonoultramicroscopicsilicovolcanoconiosis")

45

**Question 5**  8pts

You are given the following strings:   
s1 = 'super'  
s2 = 'cali'  
s3 = 'fragi'  
s4 = 'listic'  
s5 = 'expi'  
s6 = 'ali'  
s7 = 'docious'  

1) Compute the lenght of each of the strings and set all the leghts to new variables $l_1,l_2,...,l_7$ ($l_1$ equals the lenght of $s_1$ etc)  
2) Sum the individual lengths and print the total lenth.  
3) Create a large string by concatenating $s_1$ through $s_7$ (keeping the order)  
4) What is the lenght of the new string? (It should be the same as the sum of the individual lenghts)

In [22]:
s1 = 'super'
s2 = 'cali'
s3 = 'fragi'
s4 = 'listic'
s5 = 'expi'
s6 = 'ali'
s7 = 'docious'

l1 = len(s1)
l2 = len(s2)
l3 = len(s3)
l4 = len(s4)
l5 = len(s5)
l6 = len(s6)
l7 = len(s7)

l1+l2+l3+l4+l5+l6+l7

s1+s2+s3+s4+s5+s6+s7

len(s1+s2+s3+s4+s5+s6+s7)

34

**Question 6a** 5pts

Can you name the interconnected freshwater lakes that cover more than 94,000 square miles in North America? Think “HOMES” (Huron, Ontario, Michigan, Erie, and Superior). Create 5 strings each containg the name of these 5 lakes. Then get the 1st Letter from each of them in order to get the mnemonic "HOMES". Your print result should be "HOMES"

In [24]:
lake1 = "Huron"
lake2 = "Ontario"
lake3 = "Michigan"
lake4 = "Erie"
lake5 = "Superior"


lake1[0]+lake2[0]+lake3[0]+lake4[0]+lake5[0]

'HOMES'

**Question 6b**  5pts

Figure out a way to slice and combine the lists L1 = [4,6,7,8,9], L2 = [1,2], and L3= [2,3,4,5]  so that the list   
consec_ints = [1,2,3,4,5,6,8,9].  

Note: Number 7 is missing on purpose.

In [44]:
L1 = [4,6,7,8,9]
L2 = [1,2]
L3 = [2,3,4,5]

consec_ints = L2 + L3[1:] + L1[1:]
del consec_ints[6]
print(consec_ints)

[1, 2, 3, 4, 5, 6, 8, 9]

**Question 7** 10pts

Write a small program that does the following:

1) Asks the user "What's your name? " and stores it into a variable called name.  
2) Asks the user "Where are you from? " and stores it into a variable called origin.  
3) Prints out a text message saying "Hi (name), I've never been to (origin). I bet it's a great place!"

**Question 8** 10pts

Write a small program that does the following:

1) Asks the user "What's your favorite food? " and stores it into a variable called food.    
2) Prints their favorite food in lowercase.  
3) Prints their favorite food in uppercase.

In [50]:
#question 7
name = input("What's your name?")
origin = input("Where are you from?")
print("Hi",name,",I've never been to",origin,". I bet it's a great place!")

#question 8

food = input("What's your favourite food")
print (food.lower())
print (food.upper())

What's your name?anusha
Where are you from?surat
Hi anusha ,I've never been to surat . I bet it's a great place!
What's your favourite foodpasta
pasta
PASTA

**Question 9** 10pts  

You are given the string s = 'When life gives you lemons, make lemonade'.  

Write a small program that does the following:  

1)  Grab the last letter/character      
2)  Grab everything but the last letter  
3)  Grab everything, but go in steps of size 1  
4)  Grab everything, but go in steps of size 2  
5)  Use a method to split the string on every 'o' character

In [72]:
s = 'When life gives you lemons, make lemonade'
s[-1]
s[:-1]
s[::1]
s[::2]
s.split('o')

['When life gives y', 'u lem', 'ns, make lem', 'nade']

**Question 10** 5pts  

You are given a piece of a poem:  

Rough winds do shake the darling buds of May,  
And summer’s lease hath all too short a date.  

Save it as a string and:

1) Use \n to print a new line and
2) Use \ to use an apostrophe while using single quotes for the string  

When you print the string your goal is to see two lines as shown above.

In [74]:
s = 'Rough winds do shake the darling buds of May,\nAnd summer\'s lease hath all too short a date.'
print(s)

Rough winds do shake the darling buds of May,
And summer's lease hath all too short a date.

**Question 11** 7 points

Create a list with your favorite 3 numbers as entries in it. Name it best_numbers.

Create a list with your favorite 3 colors as entries in it. Name it best_colors.

Create a new list that concatenates those 2.  Name it best_numbers_and_colors. Print the list.

Create a new list that repeats the entries of best_numbers_and_colors 5 times. Name it rep_list. Print the list

Add your name as an entry to the end of rep_list. Print the list.

Add the list [17,18,19] to the 8th position in the list. Print the list. Note here that 17, 18, and 19 should be inside of a nested list inside of double_list.

Print that 18 by referencing where the [17,18,19] is inside of the list, and where the 18 is inside of [17,18,19].

In [79]:
best_numbers = ["3","6","14"]
best_colors = ["red","white","beige"]
best_numers_and_colors = best_numbers + best_colors
print (best_numers_and_colors)
rep_list = best_numers_and_colors * 5
print (rep_list)
rep_list.append("Anusha")
print (rep_list)
rep_list[8] =  [17,18,19]
print (rep_list)
rep_list[8][1]

['3', '6', '14', 'red', 'white', 'beige']
['3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige']
['3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', 'Anusha']
['3', '6', '14', 'red', 'white', 'beige', '3', '6', [17, 18, 19], 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', '3', '6', '14', 'red', 'white', 'beige', 'Anusha']

18